.header{
    z-index: 5;
    left: 0;
    font-size: 20px;
    color: #e1e1e1;
    display: flex;
    flex-direction: column;
    background-color: #2a2828;
    justify-content: center;
    position: absolute;
}

.burger{
    left: 0;
    position: absolute;
}

.cross{
    width: 60px;
    height: 60px;
    padding: 5px;
    background-color: black;
}

ol{
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
    justify-content: center;
    display: flex;
}

.hidden{
    width: 0;
    transition: width 0.7s ease;
}

.visible{
    width: 120px;
    transition: width 0.7s ease;
}

.selected{
    filter: brightness(0.6);
}


li:hover{
    filter: brightness(0.6);
    transition: all 0.3s;
}



li{
    cursor: pointer;
    list-style-type: none;
}

@media screen and (min-width: 1100px) {
    .burger{
        display: none;
    }
}